.navbar {
    /*font-size: ;*/
    /*margin-top: 10px;*/
    color: yellow;
    border-radius: 5px;
    margin: 2px;
    /*margin-top: 3px;*/
    /*height: 7vh;*/
}

.container {
    /*margin-top: 20px;*/
    /*padding-top: 10px;*/
    background-color: white;
    /*height: 90vh;*/
    width: 90%;
    border-radius: 5px;
}

.main-title {
    font-size: 75px;
    text-align: center;
}

.main-button {
    text-align: center;
    min-width: 100px;
}

/*.container {*/
    /*background-color: #ffffff;*/
    /*border-radius: 5px;*/
    /*padding: 10px;*/
    /*height: 80vh;*/
/*}*/

body {
    /*background: url('../img/foodbackground.jpg');*/
    background-size: cover;
}