.navbar {
    color: yellow;
    border-radius: 5px;
    margin: 2px;

}

.container {
    background-color: white;
    padding: 10px;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    height: 90vh;
    width: 90%;
    border-radius: 5px;
}

.main-title {
    font-size: 75px;
    text-align: center;
}

.main-button {
    text-align: center;
    min-width: 100px;
}

body {
    background: url('../img/food.jpg');
}