{% extends 'base.html' %}

{% block content %}
    <h1>Clubs</h1>
    <p>Friends who eat together, stay together...</p>
    <hr>

    <div class="col-lg-12">
        <h4>Fellow Foodies</h4>
        <table class="table">
            <tr>
                <th>View</th>
                <th>Name</th>
                <th>Number of Members</th>
                <th>Description</th>
            </tr>
            {% for club in member.clubs.all %}
            <tr>
                <td><a href="{% url "view_club" club.id %}"><span style=padding-left:6px; class="glyphicon glyphicon-cutlery"></span></a></td>
                <td>{{ club.name }}</td>
                <td>{{ members|length }}</td>
                <td>{{ club.description }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <p>Don't see one you like? Want to try something new? <a href="{% url 'add_club' %}">Make a new club!</a></p>


{% endblock %}