{% extends 'base.html' %}

{% block content %}
    <h1>Munchies</h1>
    <p>That looks good...</p>
    <hr>

    <div class="col-lg-12">
        <h4>Munchies</h4>
        <table class="table">
            <tr>
                <th>View</th>
                <th>Name</th>
                <th>Restaurant</th>
                <th>Price</th>
            </tr>
            {% for dish in munchies %}
            <tr>
                <td><a href="{% url 'view_dish' dish.id %}"><span style=padding-left:6px; class="glyphicon glyphicon-cutlery"></span></a></td>
                <td>{{ dish.name }}</td>
                <td>{{ dish.restaurant }}</td>
                <td>{{ dish.price }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <p>Did you just eat something that blew your mind? <a href="{% url 'add_dish' %}"> Share it with the world!</a></p>


{% endblock %}