{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <style>
    .action {
        text-align: center;
    }
    </style>
{% endblock css %}

{% block content %}
    <h1>Hello, {{ user.username }}!</h1>
    <hr>
    <h2>Welcome to your profile.</h2>
    <br>

    <div class="row">

        <div class="col-lg-4">
            <div class="well">
                <h4 class="action">{{ member.first_name|capfirst }} {{ member.last_name|capfirst }}</h4>
                <hr>
                <img style="width: 250px; margin-left: 45px" src= "{% static member.photo.url %}">
            </div>
        </div>

        <div class="col-lg-4">
            <h4>Your information</h4>
            <table class="table">
                <tr>
                    <td>First name</td>
                    <td>{{ member.first_name|capfirst }}</td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>{{ member.last_name|capfirst }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ member.email }}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{ member.city|capfirst }}</td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>{{ member.country|capfirst }}</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>********</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-size: 12px; text-align: right">Forgot your password? <a href="{% url 'password_reset' %}"> Reset</a></td>
                </tr>
            </table>
        </div>

        <div class="col-lg-4">
            <h4>Your clubs</h4>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>View</th>
                </tr>
                {% for club in member.clubs.all %}
                <tr>
                    <td>{{ club.name }}</td>
                    <td><a href="{% url 'view_club' club.id %}"><span style=padding-left:6px; class="glyphicon glyphicon-cutlery"></span></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

{% endblock content %}