{% extends 'base.html' %}

{% block content %}
    <h1>Restaurants</h1>
    <p>Where do you want to eat?</p>
    <hr>

    <div class="col-lg-12">
        <h4>Restaurants</h4>
        <table class="table">
            <tr>
                <th>View</th>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Description</th>
            </tr>
            {% for place in restaurant %}
            <tr>
                <td><a href="{% url 'view_restaurant' place.id %}"><span style=padding-left:6px; class="glyphicon glyphicon-cutlery"></span></a></td>
                <td>{{ place.name }}</td>
                <td>{{ place.city }}</td>
                <td>{{ place.state }}</td>
                <td>{{ place.country }}</td>
                <td>{{ place.description }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <p>Found a new spot? Own a restaurant? <a href="{% url 'add_restaurant' %}"> Add a new listing!</a></p>


{% endblock %}